/* Tags */
body { font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 10px; color: #375F86; background-color: #FFFFFF; vertical-align: top; text-align: justify; margin: 0px; padding: 0px;}
h1 { font-size: 18px; font-weight: bold; margin: 0px;}
h2 { font-size: 16px; font-weight: bold; margin: 10px 0px 0px;}
h3 { font-size: 14px; font-weight: bold; margin: 0px;}
p { margin-top: 10px; margin-bottom: 0px;}
a { font-size: 10px; font-weight: bold; color: #243F59; text-decoration: none; cursor: pointer;}
a:hover { font-size: 10px; font-weight: bold; color: #243F59; text-decoration: underline; cursor: pointer;}
img { border: none; }
hr { border-top: 1px solid #375F86; border-bottom: none; border-left: none; border-right: none; height: 1px;}
hr.faint { border-top: 1px solid #CCCCCC; border-bottom: none; border-left: none; border-right: none; height: 1px;}
ul { padding: 0px 0px 0px 13px; margin: 0px;}

/* Classes */
.logo { background-color: #598ABB}
.actions { background-color: #598ABB; vertical-align: bottom;}
.content { font-size: 10px; color: #375F86; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #375F86; padding: 5px; background-color: #FFFFFF; vertical-align: top; text-align: justify;}
.border { border-left-width: 1px; border-left-style: solid; border-left-color: #375686; border-right-width: 1px; border-right-style: solid; border-right-color: #375686; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: #375686; padding: 7px;}
.right { text-align: right;}
.center { text-align: center;}

/* Text elements */
.field { font-size: 10px; font-weight: bold; color: #375F86; text-align: left; vertical-align: middle; padding: 3px; 3px 3px 3px; }