%hide {
  display: none;
}

%align-center {
  top: 50% !important;
  left: 50% !important;
  -webkit-transform: translate(-52%, -50%);
  -moz-transform: translate(-52%, -50%);
  -ms-transform: translate(-52%, -50%);
  transform: translate(-52%, -50%);
}

%reset-width {
  width: auto !important;
  height: auto !important;
  min-height: 11.25rem;
}

%lb__container {
  border: 15px solid #000;
  border-radius: 0;
  min-width: 29.6875rem;
  position: relative;
}

%lb__title {
  border-bottom: 1px solid #000;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 1;
  padding-top: 1.25rem;
  padding-right: 2.375rem;
  padding-bottom: .5rem;
  text-align: right;
  text-transform: uppercase;
}

%lb__content {
  @extend %reset-width;
  padding-top: 1.25rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

%lb__field__container {
  padding-bottom: 1.75rem;
  margin: 0;
}

%lb__label {
  display: inline-block;
  font-size: .875rem;
  font-weight: normal;
  width: 11.25rem;
  text-transform: uppercase;

  &:after {
    content: ':';
  }
}

%lb__input {
  border: 1px solid #8f8f8f;
  line-height: 1.5rem;
  width: 12rem;
  padding-left: .25rem;
}

%lb__submit--container {
  text-align: center;
  padding-bottom: 2rem;
}

%lb__submit {
  background: #000;
  border: 0;
  color: #fff;
  font-size: .875rem;
  line-height: 1.25rem;
  min-width: 7.5rem;
}

%lb__text {
  text-align: center;
  line-height: 1.3;
}

%lb__description {
  font-size: .875rem;
}

%lb__disclaimer {
  font-size: .75rem;
}

%lb__close {
  display: inline-block;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;

  &:after {
    content: 'x';
    position: absolute;
    top: 5px;
    left: 15px;
    font-size: .875rem;
    font-weight: bold;
  }
}

%lb__subscribe {
  margin-bottom: 1rem;

  .form-item {
    padding: 0;
  }

  label:after {
    content: '';
  }
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
}

#modalContent {
  @extend %align-center;
  background: #fff;

  a {
    color: #10a0e3;
  }

  .modal-forms-modal-content {
    @extend %reset-width;
  }

  .popups-container {
    @extend %lb__container;
  }

  .modal-header {
    @extend %lb__title;
  }

  .modal-content {
    @extend %lb__content;
  }

  .form-item {
    @extend %lb__field__container;
  }

  label {
    @extend %lb__label;
  }

  .form-text {
    @extend %lb__input;
  }

  .form-actions {
    @extend %lb__submit--container;
  }

  .form-submit {
    @extend %lb__submit;
  }

  .benefits-rewards {
    @extend %lb__text;
    @extend %lb__description;
  }

  .terms-conditions {
    @extend %lb__text;
    @extend %lb__disclaimer;
  }

  .popups-close {
    @extend %lb__close;
  }

  .form-type-password-confirm {
    padding-bottom: 0;
  }

  .form-required {
    display: none;
  }

  fieldset {
    @extend %lb__subscribe;
  }
}
