%link-bare {
  display: inline-block;
  text-decoration: none;
  text-align: center;
}

%link-dark {
  @extend %link-bare;
  font-size: 14px;
  font-weight: 100;
  text-transform: uppercase;
  padding: 0.425rem 0;
  min-width: 11.875rem;
  color: #fff;
}
